body,html {
  margin: 0;
  /* background: #222; */
  height: 100%;
  line-height: 1.8em;
  color: #666;
}

.container{
  width: 80%;
  margin: 0 auto;
}

header{
  background: white;
  position: fixed;

}

header::after{
  content: '';
  display: table;
  clear: both;
}

.header_logo{
  width: 15%;
  float: left;
  padding: 10px 0;
}

nav{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;

}
@media only screen and (max-width: 1440px){

  nav li{
    display: inline-block;
    margin-left: 40px;
    padding-top: 4.5%;
    position: relative;
  }
}

@media only screen and (max-width: 1024px){

  nav li{
    display: inline-block;
    margin-left: 40px;
    padding-top: 3.5%;
    position: relative;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1441px) {
  nav li{
    display: inline-block;
    margin-left: 40px;
    padding-top: 5%;
    position: relative;
  }
}

nav a{
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
}

nav a:hover{
  color: #000;
}

nav a::before{
  content: '';
  display: block;
  height: 5px;
  background-image: linear-gradient(to right, #ac8ef2 , #3acff4);
  border-radius: 2px;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav a:hover::before{
  width: 100%;
}

.main{
  padding-top: 10%;
  display: flex;
	align-items: center;
	justify-content: center;
}

.text{
    text-transform: lowercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 250px;
    color: #212121;
}

.gradi{
  	background: linear-gradient(to right, #9375d1 0%, #58b0de 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle{
  padding: 20px;
  color: rgba(50,50,50,.75);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;

}

.line-1{
    position: relative;
    top: 50%;
    width: 800px;
    margin: 0 auto;
    border-right: 2px solid rgba(50,50,50,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    height: 35px;
    font-weight: 400;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 545px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(50,50,50,.75);}
  to{border-right-color: transparent;}
}
