body,html {
  margin: 0;
  /* background: #222; */
  height: 100%;
  line-height: 1.8em;
  color: #666;
}

.container{
  width: 80%;
  margin: 0 auto;
}

header{
  background: white;
  position: fixed;
  z-index: 1;

}

header::after{
  content: '';
  display: table;
  clear: both;
}

.header_logo{
  width: 15%;
  float: left;
  padding: 10px 0;
}

nav{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;

}
@media only screen and (max-width: 1440px){

  nav li{
    display: inline-block;
    margin-left: 40px;
    padding-top: 4.5%;
    position: relative;
  }
}

@media only screen and (max-width: 1024px){

  nav li{
    display: inline-block;
    margin-left: 40px;
    padding-top: 3.5%;
    position: relative;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1441px) {
  nav li{
    display: inline-block;
    margin-left: 40px;
    padding-top: 5%;
    position: relative;
  }
}

nav a{
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
}

nav a:hover{
  color: #000;
}

nav a::before{
  content: '';
  display: block;
  height: 5px;
  background-image: linear-gradient(to right, #ac8ef2 , #3acff4);
  border-radius: 2px;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav a:hover::before{
  width: 100%;
}

.parallax-img1, .parallax-img2, .parallax-img3{
  z-index: -10;
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parallax-img1{
  background-image: url('../img/main.jpg');
  height:30%;
}

.parallax-img2{
  background-image: url('../img/img2.jpg');
  min-height: 40%;
}

.parallax-img3{
  background-image: url('../img/img3.jpg');
  min-height: 40%;
}

.ptext{
  position: absolute;
  top:50%;
  width:100%;
  text-align: center;
  color:#000;
  font-size:60px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif ;
  font-weight: 500;
}

section {
  text-align:center;
  padding: 10px 100px;
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

section h2{
  font-weight: 400;
  font-size: 35px;
  padding-bottom: 30px;
}

.light-section{
  background-color:#fafafa;
}

.dark-section{
  background-color: #282e34;
  color:#ddd;
}

.three_card_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap:wrap;
  margin-top: -50px;
  margin-bottom: -25px;
}

.card_container{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 350px;
  margin: 0px 30px;
  margin-top: 50px;
  background-color: white;
  border-radius: 0px;
  position: relative;
}

.card_image_container{
  padding-top: 20px;
}

.card_image{
  height: 130px;
}

.card_title h3{
  margin-top: 20px;
  font-weight: 500;
}

.card_info{
  padding: 0 20px;
  padding-bottom: 10px;
}

.card_hoverbar{
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, #62bbf7, #a684f9);
  bottom: 0;
  position: absolute;
}

.approach_container{
  padding: 20px 0px;
  padding-top:70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
/*  add media query for approach container to flex:wrap only when its below */
.approach_img{
  width: 500px;
  padding: 40px 30px;
}

.approach_text{
  width: 40%;
  text-align:left;
}

.approach_title h2 {
  padding-bottom: 0px;
  line-height: 120%;
  font-weight: 400;
  margin: 15px 0px;
}

.approach_subtitle h3{
  font-weight: 400;
  font-size: 20px;
  margin: 15px 0px;
  padding: 0px;
}

.approach_info p{
  margin: 15px 0px;
}

.system_cards_container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.system_cards_row_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: stretch; */
  flex-wrap: wrap;
}

.system_card{
  width: 400px;

  background-color: white;
  border-radius: 5px;
  margin: 0px 25px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.system_card_img_flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.system_img{
  width: 100px;
  margin-left: 10px;
  align-items: center;
}

.system_card{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin-top: 50px;
}

.system_card_text{
  margin: 20px 10px;
  text-align: left;
}

.system_card_text p, h3{
  margin: 0px 0px;
}

.system_card_text p{
  font-weight: 300;
}

.system_card_text h3{
  font-weight: 500;
  font-size: 18px;
}

.h2_special{
  margin-bottom: -30px;
}

.extra_space{
  height: 50px;
}

.dark-section h2{
  margin-bottom: -10px;
}

.testimonial_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial_text{
  width: 900px;
  font-size: 22px;
  line-height: 40px;
}

.testimonial_descrip{
  text-align: left;
  font-weight: 300;
}

.testimonial_author{
  font-style: italic;
  margin-bottom: 50px;
}
